<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fibo-app/fragments/header :: header">

</head>
<body class="bg-dark text-white">

<div th:replace="fibo-app/fragments/topmenu :: topmenu"></div>
<div class="container">

   <div>
       <h1>Tasks List</h1>
       <table class="table">
           <thead>
           <tr>
               <th scope="col">#</th>
               <th scope="col">Name</th>
               <th scope="col">Date</th>
               <th scope="col">#</th>

           </tr>
           </thead>
           <tbody>
           <tr data-th-each="task : ${tasks}">

               <td data-th-text="${task.id}"></td>
               <td data-th-text="${task.name}"></td>
               <td data-th-text="${{task.date}}"></td>
               <td>
                   <a th:href="@{'/task-edit/' + ${task.id}}">Edit</a>
               </td>




           </tr>

           </tbody>
       </table>

       <a href="/task-create">Create New</a>
   </div>


</div>
<div th:replace="fibo-app/fragments/footer :: footer">&copy; 2016 The Static Templates</div>
</body>
</html>